.doctor-table-container{
    background:white;
    padding:20px;
    border-radius:12px;
    overflow-x:auto;
    box-shadow:0px 5px 15px rgba(0,0,0,.08);
}

.doctor-table{
    width:100%;
    border-collapse:collapse;
}

.doctor-table th{
    background:#1976d2;
    color:white;
    padding:14px;
    text-align:left;
}

.doctor-table td{
    padding:14px;
    border-bottom:1px solid #ddd;
}

.doctor-table tr:hover{
    background:#f4f8ff;
}

.badge{
    color:white;
    padding:6px 14px;
    border-radius:20px;
    font-size:13px;
}

.available{
    background:#28a745;
}

.unavailable{
    background:#dc3545;
}

.view-btn,
.edit-btn,
.delete-btn{
    border:none;
    padding:8px 14px;
    margin-right:8px;
    border-radius:6px;
    cursor:pointer;
    color:white;
}

.view-btn{
    background:#17a2b8;
}

.edit-btn{
    background:#ffc107;
    color:black;
}

.delete-btn{
    background:#dc3545;
}

.view-btn:hover{
    opacity:.9;
}

.edit-btn:hover{
    opacity:.9;
}

.delete-btn:hover{
    opacity:.9;
}