.billing-card{

    border-radius:12px;
    transition:0.3s;
    cursor:pointer;

}

.billing-card:hover{

    transform:translateY(-5px);

}

.billing-icon{

    width:60px;
    height:60px;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;

    font-size:28px;

}