.patient-page{
    padding:30px;
}

.page-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.page-header h2{
    color:#333;
}

.add-btn{
    background:#0d6efd;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:6px;
    cursor:pointer;
    font-size:15px;
}

.add-btn:hover{
    background:#0b5ed7;
}